.search-banner {
  display: none;
}

.custom-search-banner,
.custom-search-banner-wrap {
  background: transparent;
  margin-block: 0;
  padding-block: 0.1rem;
  margin: -7rem 0 0 calc(100vw / 2.5);
  max-width: 20vw;
  padding: 0;

  h1,
  p {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .custom-search-banner,
  .custom-search-banner-wrap
  {
    padding: 2.5em 0 3em;
    margin: 1em auto;
    max-width: inherit;
  }
}

