<div class='landing-banner-image'>
  {{!-- <img
    src={{theme-setting 'theme_uploads.landingImage'}}
    alt='an illustration of connected boxes'
  /> --}}
</div>
<div class='landing-banner-content'>
  {{html-safe (theme-setting 'landing_banner_content')}}
</div>